<!-- show action partial -->
<strong><%= action.name %></strong>
<p><%= action.desc %></p>
<table>
	<% if action.attack_bonus > 0 %>
		<tr>
			<td>Attack Bonus</td>
			<td><%= action.attack_bonus %></td>
		</tr>
	<% end %>
	<% if action.damage_dice %>
		<tr>
			<td>Damage Dice</td>
			<td><%= action.damage_dice %></td>
		</tr>
	<% end %>
	<% if action.damage_bonus %>
		<tr>
			<td>Damage Bonus</td>
			<td><%= action.damage_bonus %></td>
		</tr>
	<% end %>
</table>
<br>