<!-- show action partial -->
<strong><%= action.name %></strong>
<p><%= action.desc %></p>
<table>
	<tr>
		<td>Attack Bonus</td>
		<td><%= action.attack_bonus %></td>
	</tr>
	<tr>
		<td>Damage Dice</td>
		<td><%= action.attack_bonus %></td>
	</tr>
	<tr>
		<td>Damage Bonus</td>
		<td><%= action.damage_bonus %></td>
	</tr>
</table>
<br>