<!-- show special ability partial -->
<strong><%= special_ability.name %></strong>
<p><%= special_ability.desc %></p>
<table>
	<tr>
		<td>Attack Bonus</td>
		<td><%= special_ability.attack_bonus %></td>
	</tr>
	<tr>
		<td>Damage Dice</td>
		<td><%= special_ability.attack_bonus %></td>
	</tr>
	<tr>
		<td>Damage Bonus</td>
		<td><%= special_ability.damage_bonus %></td>
	</tr>
</table>
<br>